{% extends 'base.html' %}

{% block title %}
    О компании
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="/styles/about.css">
    <link rel="stylesheet" type="text/css" href="/styles/portfolio.css">
{% endblock %}

{% block content %}
    <main class="content">
        <div class="about-page wrapper_with-paddings">
            <h1 class="header header--first">О компании</h1>
            <h2 class="header--secondary">История Айкомплекса</h2>
            <section class="text-block">
                <h2 class="text-block__header">Пролог</h2>
                <div class="text-block__body">
                    <img class="text-block__image--right about-page__image" src="/images/about.png">
                    <p class="text-block__body__text">В начале была мысль, мысль была у шефа, и сам он вспоминает о ней так: «Неудачно сходил к стоматологу, не понравилась его работа. Решил поискать в интернете информацию о стоматологиях города и практически ничего не нашел – не только у нас, но даже во многих крупных городах, включая Москву. Появилась мысль – создать стоматологический портал, чтобы помочь таким, как я. Название домена (32top.ru) придумал очень быстро, в то время подобрать удачное имя для домена было гораздо легче, чем сейчас. Так появился первый наш сайт».</p>
                    <p class="text-block__body__text">Собственно фирма была зарегистрирована 12 ноября 2007 года, однако какое-то время кроме шефа в этой фирме никого не было, поэтому днем рождения компании считается другая дата…</p>
                </div>
            </section>
            <section class="text-block">
                <h2 class="text-block__header">Цели и задачи компании</h2>
                <div class="text-block__body">
                    <p class="text-block__body__text">Основная задача компании: разрабатывать интересные, удобные, отвечающие потребностям пользователей сайты узкой тематики или сервиса. Мы стремимся создать продукт, который будет лидером в своей сфере. Для достижения этого мы стремимся максимально охватить каждую разрабатываемую нами тематику: как по масштабу контента, так и географически.</p>
                    <p class="text-block__body__text">В Айкомплексе используется правило: если получается продукт, который нравится людям, то его необходимо развивать и усовершенствовать.</p>
                </div>
            </section>
            <section class="text-block">
                <h2 class="text-block__header">Продукты Айкомплекса</h2>
                <div class="text-block__body">
                    <p class="text-block__body__text">Наши проекты призваны содержать как можно более полную информацию в своей области знаний.</p>
                    <p class="text-block__body__text">Контент - основа продуктов Айкомплекса. Часть контента мы создаем сами, часть оставляют пользователи сайтов. Задача Айкомплеса - создать максимально возможное количество уникального контента, сохранить его, обеспечить удобную навигацию и организовать регулярное обновление и дополнение со стороны пользователей.</p>
                    <p class="text-block__body__text">Сайты основаны на взаимодействии поставщиков услуг для населения и пользователей, потребляющих услуги. Задача сайтов - сделать это взаимодействие максимально удобным, быстрым и полезным.</p>
                    <p class="text-block__body__text">Продукты Айкомплекса помогают людям экономить время и деньги!</p>
                </div>
            </section>
            <section class="text-block">
                <h2 class="text-block__header">Наши дни</h2>
                <div class="text-block__body">
                    <img class="text-block__image" src="/images/team.jpg">
                    <p class="text-block__body__text">В октябре 2014 года компания переехала в новый большой офис на Орджоникидзе, 18.</p>
                    <p class="text-block__body__text">За все время своего существования компания I-Complex стремится разрабатывать интересные, удобные, отвечающие потребностям пользователей  специализированные сайты. Для каждого нашего проекта ставится задача максимально охватить разрабатываемую тематику: как по масштабу контента, так и географически.</p>
                    <p class="text-block__body__text">В компании работает команда специалистов высокого уровня. В Айкомплексе ценятся следующие качества сотрудников: кругозор знаний, скорость выполнения работы, качество работы, количество и качество предлагаемых идей по улучшению продуктов, стабильность работы, взаимопомощь.</p>
                    <p class="text-block__body__text">Обязательным требованием ко всем сотрудникам является умение работать в коллективе. Мы - единая команда; идеи и усилия каждого делают сайты Айкомплекса такими, какими их любят пользователи, уважают клиенты</p>
                </div>
            </section>
            <section class="text-block">
                <h2 class="text-block__header">Наши интернет-проекты</h2>
                <div class="wrapper_with-paddings">
                    <a class="portfolio__item" href="//www.vipgeo.ru" target="_blank">
                        <div class="portfolio__item__image portfolio__item__image--vipgeo"></div>
                        <p class="portfolio__item__text">Турфирмы России.Горящие туры и путевки. Социальная сеть туристов.</p>
                    </a>
                    <a class="portfolio__item" href="//www.32top.ru" target="_blank">
                        <div class="portfolio__item__image portfolio__item__image--32top"></div>
                        <p class="portfolio__item__text">Стоматологии России. Все стоматологические клиники. Адреса, телефоны, цены, отзывы.</p>
                    </a>
                    <a class="portfolio__item" href="//www.biokrasota.ru" target="_blank">
                        <div class="portfolio__item__image portfolio__item__image--biokrasota"></div>
                        <p class="portfolio__item__text">Косметологии Москвы и Санкт-Петербурга. Адреса, телефоны, цены, отзывы.</p>
                    </a>
                    <a class="portfolio__item" href="//www.gdeuslugi.ru" target="_blank">
                        <div class="portfolio__item__image portfolio__item__image--gdeuslugi"></div>
                        <p class="portfolio__item__text">Предложения и услуги от частных мастеров и исполнителей по России.</p>
                    </a>
                    <a class="portfolio__item" href="//www.gdekvartira.su" target="_blank">
                        <div class="portfolio__item__image portfolio__item__image--gdekvartira"></div>
                        <p class="portfolio__item__text">Посуточная аренда квартир, квартиры на часы. База из 124 городов России</p>
                    </a>
                </div>
            </section>
        </div>

    </main>
{% endblock %}