.service-group__section-header {
	font-size: 26px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 15px;
}
.service-group-top__text {
	font-size: 18px;
}
.service-group__contact-list {
	margin-top: 35px;
}
.service-group__separator {
	margin-top: 17px;
}
.service-group__contact-us {
	display: inline-block;
	margin-top: 39px;
	margin-bottom: 45px;
}